@CHARSET "UTF-8";
/*****************************
recruit sort tag 
*****************************/

/*4月8日更新*/
.headimg{
		 height:120px;
		 width:120px;
	 }
 .teamimg{
		 height:60px;
		 width:60px;
	 }
	 
.am-btn{
	display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.625em 1em;
  border-radius: 2px;
  line-height: 1.2;
  font-size: 1.6rem;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.am-btn-primary {
  color: #ffffff;
  background-color: #0e90d2;
  border-color: #0e90d2;
}