@CHARSET "UTF-8";
/*****************************
recruit sort tag 
*****************************/

/*4月8日更新*/
.headimg{
		 height:120px;
		 width:120px;
	 }
	  .teamimg{
		 height:60px;
		 width:60px;
	 }