@CHARSET "UTF-8";
/*zq补充CSS*/
.jumpbotron{
background-color:#eee;
border-radius:6px;
padding:30px;
margin-bottom:20px;
font-size:21px;
font-weight:200;
line-height:17;
color:inherit;	
	font-family:'Montserrat', sans-serif;
}
.zq01{
background-color:#E7E7E7;
border-radius:6px;
font-size:11px;
line-height:3;
color:inherit;
font-family:'Montserrat', sans-serif;	
}
/*zq补充CSS*/
#submitstyle{
	color: #fff;
  background-color: #337ab7;
 border-radius:2px;
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
	font-family:'Montserrat', sans-serif;
}


	
