
<?php echo $this->headLink()
            ->prependStylesheet($this->basePath() . '/css/zq.css')?>



<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>   
            <a class="navbar-brand" href="#"> 科研平台LOGO</a>     
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"> 
                <li class="active"><a href="#">首页</a></li>
                <li class="active"><a href="source.html">科研资源</a></li>
                <li class="active"><a href="#">人才招募</a></li>
                <li class="active"><a href="#">关于我们</a></li>
            </ul>       
           <ul class="nav navbar-nav navbar-right"> 
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    用户名
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">个人主页</a></li>
                    <li><a href="#">私信</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">注销</a></li>
                </ul>
             </li>
           </ul>
        </div>
    </div>
</div>
<hr>
<hr><hr><hr>
<!--主体部分-->
<div class="container">



<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      <p style="font-size:18px;font-family:'Montserrat', sans-serif;">用户设置</p><hr>

    

<ul class="nav nav-tabs">
  <li class="active">
    <a href="user-set1.html">基本资料修改</a>
      <hr>
      <label>用户名：</label>
<input type="text" class="span3" placeholder="修改用户名">
 <span class="help-block">原用户名</span> 
<hr>
<label>旧密码：</label>
<input type="text" class="span3" placeholder="请输入原密码">
<br><br>
 <label>新密码：</label>
<input type="text" class="span3" placeholder="请输入新密码">
<br><br>
<label>确&nbsp;&nbsp;&nbsp;&nbsp;认：</label>
<input type="text" class="span3" placeholder="请确认密码">   

<hr>
<label>个人介绍：</label>
<input type="text" class="span3" placeholder="请输入介绍">
<br><br>
<label>邮箱修改：</label>
<input type="text" class="span3" placeholder="请输入绑定邮箱">
<hr>
<label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-transition.js">
                  隐私选项： <small>是否允许他人查看我的资料</small>
                </label>
         <br><br>
 <button class="btn btn-primary" type="button">保存修改</button>


  </li>
  <li><a href="user-set2.html">科研信息</a></li>

</ul>

</div>





</div></div><!--fluid-->
</div><!--container -->



