





<?php echo $this->headLink()
            ->prependStylesheet($this->basePath() . '/css/user.css')?>
    
 
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>   
            <a class="navbar-brand" href="#"> 科研平台LOGO</a>     
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"> 
                <li class="active"><a href="#">首页</a></li>
                <li class="active"><a href="source.html">科研资源</a></li>
                <li class="active"><a href="#">人才招募</a></li>
                <li class="active"><a href="#">关于我们</a></li>
            </ul>       
           <ul class="nav navbar-nav navbar-right"> 
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    用户名
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">个人主页</a></li>
                    <li><a href="#">私信</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">注销</a></li>
                </ul>
             </li>
           </ul>
        </div>
    </div>
</div>
<hr>
<hr><hr><hr>
<!--主体部分-->
<div class="container">

<div class="container-fluid">
	<div class="row-fluid">

		<div class="span12">
			<div class="hero-unit well">
				<h2 style="font-size:21px;font-family:'Microsoft YaHei', sans-serif;">
					校园科研平台：</h2>
				<p style="font-size:14px;font-family:'Montserrat', sans-serif;">
					感谢您参与科研平台，这里集社交、资源共享为一体，为在校大学生提供丰富的科研经验、
                    历届资源。这里可以写下您想要写的内容发送给指定用户。
				</p>
				<button class="btn btn-primary">写私信</button>
			</div>
			<p style="font-size:18px;font-family:'Montserrat', sans-serif;">我的私信</p><hr>
		</div>


<div class="span12">
   <img style="width:60px;height:60px;padding:0;" src="/img/default.jpg" class="img-circle" />	
		 
        
            	<blockquote>
				<p>
					内容：科研小贴士，通知（...），资源等。</p> 
					<small>来自 <cite>用户001</cite></small>
					</blockquote>
			
            <span class="tiny-time">2015/10/10  <a href="#" >删除</a></span>
   	</br>
</div>
<div class="span12">
   <img style="width:60px;height:60px;padding:0;" src="/img/default.jpg" class="img-circle" />	
		 
        
            	<blockquote>
				<p>
					内容：科研小贴士，通知（...），资源等。</p> 
					<small>来自 <cite>用户002</cite></small>
					</blockquote>
			
            <span class="tiny-time">2015/10/10  <a href="#" >删除</a>
   	   	</span> 
</div>



</div>
</div>
				



</div><!--container -->




